[Desktop Entry]
Name=Hyprland
GenericName=Wayland Compositor
Comment=A modern Wayland compositor
Exec=hyprland-session
TryExec=Hyprland
Icon=hyprland
Type=Application
Categories=System;
Keywords=wayland;compositor;wm;
StartupNotify=false
DesktopNames=Hyprland
X-LightDM-DesktopName=Hyprland
X-GDM-SessionRegisters=true