{
    "clock": {
        "interval": 60,
        "format": "{:%H:%M}",
        "format-alt": "{:%Y-%m-%d %H:%M:%S}",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        "timezone": "{{ system.timezone | default('UTC') }}",
        "locale": "{{ system.locale | default('en_US.UTF-8') }}"
    }
}