# roles/ssh_keys/templates/ssh_config.j2
Host github.com
    HostName github.com
    User git
    IdentityFile /opt/ansible-pull/ssh/deploy_key
    IdentitiesOnly yes
    StrictHostKeyChecking yes
    UserKnownHostsFile /opt/ansible-pull/ssh/known_hosts