[Unit]
Description=Hyprland session target
Documentation=man:systemd.special(7)
Requires=graphical-session-pre.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target
BindsTo=graphical-session.target
Before=graphical-session.target

# Ensure the session is ready
Requisite=dbus.socket

[Install]
WantedBy=graphical-session.target